@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './form.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  letter-spacing: -0.1px;
  font-size: $fontSize;
  color: $fontColor;

  // &.en-us-app {
  //     letter-spacing: -0.2px;
  // }

  .no-need-restyle {
      font-size: $fontSize;

      // font-size公共样式
      .el-date-editor .el-range__icon,
      .el-select .el-input .el-select__caret,
      .el-select-dropdown__item,
      .el-form-item__label,
      .el-form-item__content,
      .el-checkbox__label,
      .el-button--medium,
      .el-input--medium,
      .el-menu-item,
      .el-popover,
      .el-input {
          font-size: $fontSize;
      }

      // hight、line-hight行高变更
      .el-input--medium .el-input__icon,
      .el-input--medium .el-input__inner {
          height: 36px;
          line-height: 36px;
      }
      .el-range-editor--medium.el-input__inner {
          height: 36px;
          .el-input__icon {
              line-height: 19px;
          }
          .el-range-separator {
              line-height: 19px;
          }
      }

      .el-button.el-button--solid,
      .el-button.el-button--primary,
      .el-button.el-button--default {
          height: 36px;
          padding: 0 16px;
      }
      .el-form-item--medium .el-form-item__content,
      .el-form-item--medium .el-form-item__label {
          line-height: 36px;
      }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ' ';
      clear: both;
      height: 0;
  }
}

.el-descriptions {
  font-size: $fontSize;

  h5 {
    font-size: $fontSize;
  }
}

// main-container global css
.app-container {
  // padding: 0 10px 10px 10px;
  // overflow: hidden;
  // border-top: 4px solid #f7f8f9;
  background-color: #fff;
  height: 100%;

  .query-header {
      .el-form {
          // overflow: hidden;
          margin-left: -12px;
          margin-right: -12px;
          font-size: $fontSize;
      }

      .el-form-item {
          margin: 0 12px 24px 12px;
          width: calc(16.66% - 24px);

          .el-form-item__label {
              line-height: 20px;
          }

          &:last-child:not(:first-child) {
              float: right;
              margin-bottom: 0;
              margin-top: 24px;

              .el-form-item__content {
                  display: flex;
                  justify-content: flex-end;
              }
          }
      }

      .control-container {
          flex-shrink: 0;
          max-width: 200px;

          .el-button {
              margin-bottom: 24px;
          }
      }
  }

  .table-page-header {
      padding: 20px 24px 1px 24px;
      background-color: #fff;
      border-radius: 0;
      position: relative;

      &.inner-dialog {
          padding: 0;
          margin: 0;

          .el-form {
              margin-left: 0;
              margin-right: 0px;

              .el-form-item {
                  margin: 0 8px 12px 0px;

                  &:last-child:not(:first-child) {
                      margin-right: 0;
                  }
              }
          }

          &:after {
              display: none;
          }
      }

      .el-form {
          // overflow: hidden;
          margin-left: -8px;
          margin-right: -8px;

          &.normal-form {
              .el-form-item {
                  width: auto;
              }
          }
      }

      .el-form-item {
          margin: 0 8px 12px 8px;
          width: calc(16.66% - 16px);
          vertical-align: bottom;

          .el-form-item__label {
              line-height: 20px;
          }

          &:last-child:not(:first-child) {
              float: right;
              margin-top: 24px;

              .el-form-item__content {
                  display: flex;
                  justify-content: flex-end;

                  .el-button + .el-button {
                      margin-right: 0;
                      margin-left: 10px;
                  }
              }
          }

          &.no-float-right {
              &:last-child:not(:first-child) {
                  float: none;

                  .el-form-item__content {
                      justify-content: flex-start;
                  }
              }
          }
      }

      .control-container {
          flex-shrink: 0;
          max-width: 200px;

          .el-button {
              margin-bottom: 24px;
          }
      }

      &:after {
          content: '';
          display: block;
          position: absolute;
          left: 24px;
          right: 24px;
          bottom: 0px;
          height: 1px;
          margin: auto;
          background: #e0e6ed;
      }
  }

  .table-page-content {
      padding: 12px 24px 20px 24px;
      background-color: #fff;
      border-radius: 0;

      .el-button + span {
          margin-left: 10px;
      }
  }
}

.table-page-content.dialog-table {
  padding: 12px 0 0 0;
}

// 用于模拟el-button-text交互样式
.simulate-btn-text {
  color: #1a71ff;
  font-weight: 500;
  &:hover {
      color: #4080ff;
  }
  &:focus {
      color: #0e42d2;
  }
}

.el-pagination {
  margin-top: 20px;
  text-align: end;
}

svg {
  display: inline-block;
}

/* 隐藏 input number 箭头 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* dialog 统一修改底部按钮的位置交换 */
.dialog-footer,
.el-dialog__footer {
  display: flex;
  justify-content: flex-start !important;
  flex-direction: row-reverse;

  .el-button + .el-button {
      margin-left: 0;
      margin-right: 10px;
  }
}

.tags-view-container {
  .el-scrollbar__wrap {
      &::-webkit-scrollbar {
          height: 0;
          opacity: 0;
      }
  }
}

.el-autocomplete-suggestion.el-popper.symbol {
  width: 240px !important;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-loading-spinner .circular {
  margin: 0 auto;
}

#nprogress .bar {
  background: #185cf6 !important;
}

th.table-header {
  font-size: 14px !important;
  color: #66676a !important;
  background-color: #fafafa !important;
}
.el-table__empty-text {
  font-size: 14px !important;
  color: #c6c7c9 !important;
}

.el-dropdown-menu__item.is-disabled {
  color: #c9cdd4 !important;
}

.tox-tinymce-aux {
  z-index: 3300 !important;
}

.medical-tag {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 15px;

  &.el-tag--info {
    color: $fontColor;
  }
}


.block-title {
  margin-top: 16px;
  margin-bottom: 8px;
  display: block;
  color: $fontColor;
  font-weight: bold;

  &:first-child {
    margin-top: 0;
  }
}

.el-descriptions__body {
  color: $fontColor;

  .el-descriptions-item__cell {
    vertical-align: top;
  }
}

